$slots--name: "name";
$slots--avatar: "avatar";
$slots--position: "position";
$slots--id: "id";
$slots--address: "address";
$slots--company: "company";
$slots--companyAddress: "companyAddress";
$slots--location: "location";
$slots--phone: "phone";

$slots--save: "save";
$slots--delete: "delete";
$slots--edit: "edit";
$slots--cancel: "cancel";

$slots: (
  $slots--name,
  $slots--avatar,
  $slots--position,
  $slots--id,
  $slots--address,
  $slots--company,
  $slots--companyAddress,
  $slots--location,
  $slots--phone,
  $slots--save,
  $slots--edit,
  $slots--cancel,
  $slots--delete  
);